#log_in{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.bootstrap-tagsinput{
    width: 100%
}
